{{>header}}
<!-- Dashboard -->
<table style="margin: 0 auto; margin-top:5%; margin-bottom: 5%; width: 95%;" class="table table-hover">

    <thead>
    <tr class="bg-warning">
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Details
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
{{#each offers}}
    <tbody>
        <tr>
            <td class="">{{@index}}</td>
            <td class="">{{product}}</td>
            <td class="description">{{description}}</td>
            <td class="">{{price}}</td>
            <td>
                <a href='#/details/{{_id}}' class="btn-primary btn">Order details</a>
            </td>
            <td>
                {{#if true}}
                <a href='#/delete/{{_id}}' class="btn-danger btn">Delete</a>
                <a href='#/edit/{{_id}}' class="btn-info btn">Edit</a>
                {{else}}
                <!--BONUS (Not-Required)--><a href="" class="btn-warning btn">Buy</a><!--BONUS (Not-Required)-->
                {{/if}}
            </td>
        </tr>
{{else}}
    <tr>
        <td style="text-align: center;" colspan="6">
            <h2 style="font-style: italic;">There are no offers, we are very sorry...</h2>
        </td>
    </tr>

    </tbody>
{{/each}}


</table>
<!-- /.Dashboard -->

{{>footer}}



<!--<div id="cinema">
    <h1 class="text-center">Our Recipes</h1>
{{#each recipes}}
    <div id="sharedRecipes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="our-team-main">

                        <div class="team-front">
                            <img src="{{foodImageURL}}" />
                            <h3>{{meal}}</h3>
                            <p>{{category}}</p>
                        </div>

                        <div class="team-back">
                            <div class="back-side-info">
                                <h4>Ingredients</h4>
                                <ul>
                                    {{#each ingredients }}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                <a href="#/details/{{_id}}">View the recipe</a>
                            </div>

                            <img class="foodImage"
                                 src="{{foodImageURL}}" />
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
{{else}}

    <div id='foodNotFound'>
        <img src="https://t4.ftcdn.net/jpg/00/62/17/31/240_F_62173114_ozantkVtkPgzL0fxssAkTqKX1FHPr0UW.jpg" />
        <h3>Food not found...</h3>
    </div>
{{/each}}
</div>-->

<!--
<h1>All Movies</h1>
<form action="" method="GET">
    <label>Search genre:</label>
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>
<div class="movies">
    {{#each movies}}
        <div class="movie">
            <h2>Title: {{title}}</h2>
            <img src="{{imageUrl}}">
            <p>Available Tickets: {{tickets}}</p><button><a href="#">Buy Ticket</a></button>
            <button><a href="#/detailsEvent/{{_id}}">Details</a></button>
        </div>
    {{else}}
    {{/each}}
</div>-->

<!--
<div class="container">
    <div class="row">

        &lt;!&ndash;Grain-Food-Template&ndash;&gt;
        <div class="col-lg-12">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="https://cdn.pixabay.com/photo/2014/12/11/02/55/corn-syrup-563796__340.jpg" />
                    <h3>Meal Name</h3>
                    <p>Grain Food CATEGORY</p>
                </div>

                <div class="team-back">
                    <div class="back-side-info">
                        <h4>Ingredients</h4>
                        <ul>
                            <li>First ingredients</li>
                            <li>Second ingredients</li>
                            <li>Third ingredients</li>
                            <li>...</li>
                        </ul>
                        <a href="/#">View the recepie</a>
                    </div>

                    <img class="foodImage"
                         src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395__340.jpg" width:
                         150; height: auto; />
                </div>

            </div>
        </div>
        &lt;!&ndash;Food-Template&ndash;&gt;
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="https://cdn.pixabay.com/photo/2017/06/02/18/24/fruit-2367029__340.jpg" />
                    <h3>Meal Name</h3>
                    <p>Fruits CATEGORY</p>
                </div>

                <div class="team-back">
                    <div class="back-side-info">
                        <h4>Ingredients</h4>
                        <ul>
                            <li>First ingredients</li>
                            <li>Second ingredients</li>
                            <li>Third ingredients</li>
                            <li>...</li>
                        </ul>
                        <a href="/#">View the recepie</a>
                    </div>

                    <img class="foodImage"
                         src="https://t3.ftcdn.net/jpg/00/87/05/06/240_F_87050645_NGkJwdXlikO6DWOppUu93fQwLYeBdDEq.jpg" />
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="our-team-main">

                <div class="team-front">
                    <img
                            src="https://image.shutterstock.com/image-photo/assorted-dairy-products-milk-yogurt-260nw-530162824.jpg" />
                    <h3>Meal Name</h3>
                    <p>Milk, chees, eggs and alternatives CATEGORY</p>
                </div>

                <div class="team-back">
                    <div class="back-side-info">
                        <h4>Ingredients</h4>
                        <ul>
                            <li>First ingredients</li>
                            <li>Second ingredients</li>
                            <li>Third ingredients</li>
                            <li>...</li>
                        </ul>
                        <a href="/#">View the recepie</a>
                    </div>

                    <img class="foodImage"
                         src="https://cdn.pixabay.com/photo/2018/01/06/16/24/fried-3065319__340.jpg" />
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="our-team-main">

                <div class="team-front">
                    <img
                            src="https://t3.ftcdn.net/jpg/01/18/84/52/240_F_118845283_n9uWnb81tg8cG7Rf9y3McWT1DT1ZKTDx.jpg" />
                    <h3>Meal Name</h3>
                    <p>Lean meats and poultry, fish... CATEGORY</p>
                </div>

                <div class="team-back">
                    <div class="back-side-info">
                        <h4>Ingredients</h4>
                        <ul>
                            <li>First ingredients</li>
                            <li>Second ingredients</li>
                            <li>Third ingredients</li>
                            <li>...</li>
                        </ul>
                        <a href="/#">View the recepie</a>
                    </div>

                    <img class="foodImage"
                         src="https://image.shutterstock.com/image-photo/roasted-dorado-fish-brussels-sprouts-260nw-435521527.jpg" />
                </div>

            </div>
        </div>
    </div>
</div>
-->
